<nav class="navbar navbar-light bg-light">
    <a  class="navbar-brand" href="/games" style="margin-left: 10%;">Games</a>
    <a class="navbar-brand"  href="/emulador" style="margin-left: 5%;">Emulador</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" style="display: inline" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<img src="https://image.freepik.com/fotos-gratis/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner_1258-52379.jpg" style="height: 12rem; width: 100%;" alt="" >