<nav class="navbar navbar-light bg-light" >
  <a class="navbar-brand" href="/home" style = "margin: 0%;">
    <img src="https://w7.pngwing.com/pngs/594/540/png-transparent-super-nintendo-entertainment-system-video-game-game-controllers-computer-icons-video-games-miscellaneous-game-logo-thumbnail.png" width="60" height="60" class="d-inline-block align-top" alt="">
    Games
  </a>
  <a class="navbar-brand" href="/emulador">
    <img src="https://w7.pngwing.com/pngs/684/1006/png-transparent-black-sony-ps4-console-playstation-4-playstation-3-video-game-consoles-playstation4-controller-miscellaneous-electronics-gadget-thumbnail.png" width="60" height="60" class="d-inline-block align-top" alt="">
    Emuladores
  </a>

  
</nav>
<img src="https://image.freepik.com/fotos-gratis/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner_1258-52379.jpg" style="height: 12rem; width: 100%;" alt="" >