<div style="background-image: url(https://image.freepik.com/fotos-gratis/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner_1258-52379.jpg); padding: 50px 35%;"> 
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home">Games</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Aventura</a></li>
          <li><a class="dropdown-item" href="#">Ação</a></li>
          <li><a class="dropdown-item" href="#">RPG</a></li>
          <li><a class="dropdown-item" href="#">FPS</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/emulador">Emulador</a>
    </li>
  </ul>
</div> 
