<%- include('../partials/header.ejs'); %>
<body style=" background-color: #DCDCDC">
  <%- include('../partials/navbar.ejs'); %>
  
    <hr>
    <h2 style="text-align: center;">Emulador</h2>
    <hr>
    <div class="container">
        <div>
            <img src="https://static.emulatorgames.net/images/super-nintendo/snes9x-1.53.webp" style="float:left;" alt="" class="scr">
            <h3>SNES9x 1.53</h3>
            <hr>
            <h6>SNES9x 1.53 Emulator is available to download for Super Nintendo. This emulator works in maximum quality on the Windows platform and is developed by Snes9x.com. Download SNES9x 1.53 to play SNES ROMs on your device. Cross-platform Super Nintendo Emulators are available only at EmulatorGames.net for multiple platforms to run your games</h6>
            <hr>
            <h2>Work on Windows</h2>
            <br>
            <a class="btn btn-success" href="https://static.emulatorgames.net/emulators/super-nintendo/SNES9x v1.53-1240.rar">Donwload</a> 
            
        </div>
    
        
    </div>
</body>